.nav-bar {
  background-color: #1976D2;
  min-height: 3.6em; }
  .nav-bar .logo {
    margin: 5px 0 0 12em;
    max-width: 100px;
    float: left; }
    .nav-bar .logo .flipkart {
      width: 5em; }
  .nav-bar input {
    margin-top: 10px;
    width: 10em; }

.below-nav {
  width: 100%;
  min-height: 133px;
  background-color: white; }
  .below-nav ul {
    text-align: center;
    width: 100%;
    align-content: center;
    list-style-type: none; }
  .below-nav li {
    float: left;
    margin: 10px 1.6em; }
    .below-nav li a {
      color: black; }
    .below-nav li a:hover {
      text-decoration: none; }

.dod {
  margin-left: 5px;
  width: 100%; }
  .dod .dodleft {
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px 2px;
    background-color: white;
    width: 1100px;
    min-height: 370px; }
    .dod .dodleft .leftdown {
      width: 100%; }
      .dod .dodleft .leftdown .ld {
        width: 20%;
        float: left;
        align-content: center; }
        .dod .dodleft .leftdown .ld img {
          display: block;
          margin: 20px auto 0;
          height: 160px;
          transform: scale(0.97); }
        .dod .dodleft .leftdown .ld img:hover {
          transform: scale(1); }
      .dod .dodleft .leftdown .shoes {
        width: 20%;
        float: left;
        align-content: center; }
        .dod .dodleft .leftdown .shoes img {
          display: block;
          margin: 70px auto 0;
          transform: scale(0.97); }
        .dod .dodleft .leftdown .shoes img:hover {
          transform: scale(1); }
  .dod .dodright {
    float: left;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px 2px;
    background-color: white;
    width: 225px;
    min-height: 370px; }
    .dod .dodright img {
      padding: 1px;
      width: 200px;
      height: 350px; }

.next {
  width: 100%;
  margin-left: 5px; }
  .next .next3 {
    padding-right: 5px;
    width: 446px;
    float: left; }
    .next .next3 img {
      width: 100%; }

.trending {
  margin: 10px 5px 0;
  width: 99%;
  padding: 10px;
  float: left;
  box-shadow: 0 0 15px 2px;
  max-height: 370px; }
  .trending .down {
    width: 100%; }
    .trending .down .d {
      width: 14.2%;
      float: left;
      align-content: center; }
      .trending .down .d img {
        display: block;
        margin: 20px auto 0;
        height: 50%;
        transform: scale(0.9); }
      .trending .down .d img:hover {
        transform: scale(1); }
    .trending .down .wallet {
      width: 14.2%;
      float: left;
      align-content: center; }
      .trending .down .wallet img {
        display: block;
        margin: 50px auto 0;
        height: 50%;
        transform: scale(0.9); }
      .trending .down .wallet img:hover {
        transform: scale(1); }
    .trending .down .slippers {
      width: 14.2%;
      float: left;
      align-content: center; }
      .trending .down .slippers img {
        display: block;
        margin: 80px auto 0;
        height: 50%;
        transform: scale(0.9); }
      .trending .down .slippers img:hover {
        transform: scale(1); }

.about {
  background-color: white;
  padding: 0px 1.7em; }
  .about h4 {
    opacity: .7;
    font-weight: bold;
    font-size: 0.95em; }
  .about p {
    opacity: 0.8;
    font-size: 0.7em; }

/* Footer */
footer {
  background-color: #172337;
  color: white;
  padding-top: 3%; }

.Footer h6 {
  color: #878787;
  font-size: .8em; }

.Footer > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: .75em;
  font-weight: 100; }

.Footer a {
  color: white;
  line-height: 1.3rem; }

.Footer p {
  margin: 0;
  font-size: .96em;
  line-height: 1.2rem; }

footer i {
  color: gold; }

footer span {
  font-size: .75em;
  cursor: pointer; }
